
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"> Table</h4>
          <table class="table table-dark"  >
            <thead>
            <tr>
              
              <th scope="col">Employee</th>
               <th scope="col">Working On</th>
            </tr>
         
            </thead>
            <tbody>
            <tr *ngFor="let user of users">
              <td>{{ user.employeename.employeename}}
              </td>
              <td>{{user.task.task}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    