<div class="card">
  <div class="card-body">
    <h4 class="card-title">Ongoing Tasks</h4>
    <table datatable class="table table-bordered" [dtTrigger]="dtTrigger" [dtOptions]="options">
      <thead>
      <tr>
        <th *ngFor="let column of columns">{{ column.title }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.employeename.employeename}}
        </td>
        <td>{{user.task.task}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
