<div class="card">
  <div class="card-body">
    <h2 class="card-title">Project Review</h2>

    <form #userForm="ngForm"  (ngSubmit)="onSubmit()" novalidate>
<!--      {{userForm.value|json}}-->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">

          <label>Select Project</label>
          <ng-select [items]="projects" bindLabel="projectname"  [clearable]=false
                     #project="ngModel" name="project" [(ngModel)]="userModel.project"

          (change)="onChangeName($event)">

          </ng-select >
        </div>
          <div *ngIf="Boolean">

          <td style="width: 100px">
            <button type="AddTask" class="btn btn-success"(click)="toggle()">
              AddTask
            </button>
          </td>

        </div>
      </div>
        </div>


      <div *ngIf="!Boolean">
    <div class="row">
      <table class="col-md-12">
        <tr>
          <td style="width: 800px">

            <div class="form-group" >

              <label>Enter Ongoing/Completed tasks</label>
              <input type="text" class="form-control"#tasks="ngModel"name ="tasks" [(ngModel)]="userModel.tasks">
              <i class="form-group__bar"></i>
            </div>



            <div class="form-group" >
              <label>Status</label>
              <input type="text" class="form-control"#status="ngModel"name ="status" [(ngModel)]="userModel.status">
              <i class="form-group__bar"></i>
            </div>
          </td>
        </tr>
        <tr>
        </tr>
      </table>
    </div>
      <td style="width: 50px">
        <button type="submit" class="btn btn-success">
          Submit
        </button>
      </td>
      </div>
    </form>
  </div>
</div>




<div class="card">
  <div class="card-body">
    <h4 class="card-title">Project Review Table</h4>
    <table datatable class="table table-bordered" [dtTrigger]="dtTrigger" [dtOptions]="options">
      <thead>
      <tr>
        <th *ngFor="let column of columns">{{ column.title }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of user">
        <td>{{ user.task}}
        </td>
        <td>{{user.state}}</td>

        <td>   <button class="btn btn-primary btn-sm btn--icon-text" (click)="put(user.task)">
          <i class="zmdi zmdi-edit"></i> Edit
        </button></td>
        <td>  <button class="btn btn-primary btn-sm btn--icon-text" (click)="delete(user._id)">
          <i class="zmdi zmdi-delete"></i> Delete
        </button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>













<div class="modal fade" bsModal #modal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Details</h4>
      </div>
      <form #userForm="ngForm"  (ngSubmit)="onEdit()" novalidate>
<!--        {{userForm.value|json}}-->
        <div class="modal-body">
          <div class="content__inner">
            <div class="form-group">
                    <label>Enter Ongoing/Completed tasks</label>
                    <input type="text" class="form-control"#tasks="ngModel"name ="tasks" [(ngModel)]="userModelPut.tasks">
                    <i class="form-group__bar"></i>
                  </div>

                  <div class="form-group" >
                    <label>Status</label>
                    <input type="text" class="form-control"#status="ngModel"name ="status" [(ngModel)]="userModelPut.status">
                    <i class="form-group__bar"></i>
                  </div>
              <i class="form-group__bar"></i>
            </div>
          </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-link" >Save changes</button>

        </div>


      </form>
    </div>

















