
<h1> Table</h1>

<table style="border: 1px solid black">
  <tr style="border: 1px solid black">
    <th>Username</th>
    <th>Password</th>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{user.username}}</td>
    <td>{{user.password}}</td>
    <td>
      <button (click)="delete(user._id)">delete</button>

      <button (click)="put(user._id)">edit</button>
      <!-- <button (click)="getElementById(user._id)">getElementById</button>-->
    </td>
  </tr>

</table>

<div class="modal fade" bsModal #modal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container-fluid">
          <h1>Credentials Form</h1>
          <form #userForm="ngForm"  (ngSubmit)="onSubmit()" novalidate>

            {{userForm.value|json}}
            <div class="form-group">
              <label>UserName</label>
              <input type="text" class="form-control" #username="ngModel"name ="userName" placeholder="e.g: himanshu" [(ngModel)]="userModel.username">
            </div>

            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" #password="ngModel" name="password" placeholder=" e.g: abcd" [(ngModel)]="userModel.password">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<table border="1px solid black">
  <tr *ngFor="let x of count ">
    <td>{{x.a}}</td>
    <td>{{x.b}}</td>

  </tr>
</table>
